<li class="clearfix">
    <div class="message-data">
        <span class="message-data-time">10:12 AM, Today</span>
    </div>
    <div class="message my-message"><%= message.body %></div>                                    
</li>  