<div class="body">
  <ul class="comment-reply list-unstyled">
    <li class="row clearfix">
      <div class="icon-box col-md-2 col-4">
        <img
          class="img-fluid img-thumbnail"
          src="https://bootdey.com/img/Content/avatar/avatar7.png"
          alt="Awesome Image"
        />
      </div>
      <div class="text-box col-md-10 col-8 p-l-0 p-r0">
        <h5 class="m-b-0"><%= comment.user.first_name %></h5>
        <p><%= comment.content %></p>
        <ul class="list-inline">
          <li>
            <a href="javascript:void(0);"
              ><%= time_ago_in_words(comment.created_at) %> ago</a
            >
          </li>
          <li><a href="javascript:void(0);">Reply</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
