<%= link_to "Upload post", new_post_path, class: "btn btn-outline-success mt-4" %>

<% if @posts.any? %>
    <div class="container row mx-auto mt-4">
        <%= render @posts %>
    </div>
<% else %>
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">Welcome to takebook!</h4>
        <p>Follow the people to see their photos and videos they share.</p>
    </div>
<% end %>
