.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1; }
    .digg_pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }

.custom-card-bg {
  background-color: rgba(0, 0, 0, 0.2);
}

body{margin-top:20px;}

/*==================================================
  Post Contents CSS
  ==================================================*/

.post-content{
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.post-content img.post-image, video.post-video, .google-maps{
  width: 100%;
  height: auto;
}

.post-content .google-maps .map{
  height: 300px;
}

.post-content .post-container{
  padding: 20px;
}

.post-content .post-container .post-detail{
  margin-left: 65px;
  position: relative;
}

.post-content .post-container .post-detail .post-text{
  line-height: 24px;
  margin: 0;
}

.post-content .post-container .post-detail .reaction{
  position: absolute;
  right: 0;
  top: 0;
}

.post-content .post-container .post-detail .post-comment{
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm{
  margin-right: 10px;
}

.post-content .post-container .post-detail .post-comment .form-control{
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin: 7px 0;
  min-width: 0;
}

img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

img.profile-photo-sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}

.text-red {
    color: #ef4136;
}

.following {
    color: #8dc63f;
    font-size: 12px;
    margin-left: 20px;
}